/* Here is your custom css styles. */


   
/* 增加每日一言模块 */
.poem-wrap {
    position: relative;
    width: 730px;
    max-width: 80%;
    border: 2px solid #797979;
    border-top: 0;
    text-align: center;
    margin: 80px auto;
}
.poem-left {
    left: 0;
}
.poem-border {
    position: absolute;
    height: 2px;
    width: 27%;
    background-color: #797979;
}
.poem-right {
    right: 0;
}
.poem-wrap h1 {
    position: relative;
    margin-top: -20px;
    display: inline-block;
    letter-spacing: 4px;
    color: #797979;
}
.poem-wrap p:nth-of-type(1) {
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
}
.poem-wrap p {
    width: 70%;
    margin: auto;
    line-height: 30px;
    color: #797979;
    font-family: "Linux Biolinum", "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
}
.poem-wrap p:nth-of-type(2) {
    font-size: 18px;
    margin: 15px auto;
}
.bozhushuo {
    text-align: center;
    font-size: 19px!important;
    margin: 0 0 12px!important;
    line-height: 1.9rem;
    font-family: "Linux Biolinum", "Noto Serif SC", Helvetica, Arial, Menlo, Monaco, monospace, sans-serif;
}
.notice {
    margin: 30px auto;
    padding: 20px;
    border: 1px dashed #e6e6e6;
    color: #969696;
    position: relative;
    display: inline-block;
    width: 95%;
    background: #fbfbfb50;
    border-radius: 10px;
    font-size: 16px;
}
.notice-content {
    display: initial;
    vertical-align: middle;
}

/*直达评论按钮样式*/
.comment-scroll {
    position: fixed;
    right: 15px;
    bottom: 135px;
    padding-top: 15px;
    margin-bottom: 0;
    z-index: 998;
}

.comment-scroll .btn-floating {
    background: linear-gradient(to bottom right, #FF9999 0%, #ff6666 100%);
    width: 48px;
    height: 48px;
}

.comment-scroll .btn-floating i {
    line-height: 48px;
    font-size: 1.8rem;
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-image: linear-gradient(
    rgba(173, 15, 15, 0),
    rgb(119, 153, 250),
    rgba(173, 15, 15, 0)
  );
  border-radius: 6px;
  filter: alpha(opacity = 10);
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  opacity: 0.1;
}
::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgb(72, 120, 253),
    rgba(255, 255, 255, 0)
  );
}
* {
  scrollbar-color: auto;
  scrollbar-width: auto;
}

/* 网站右侧菜单栏按钮小动画 */
#switchchristmas,
#switchspring,
#sma {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
#switchchristmas img,
#switchspring img,
#sma i,
#to_comment a i,
#backTop a i,
.right .nav-show a i {
  transition: all .68s;
}
#switchchristmas:hover img,
#sma:hover i {
  transform: rotateZ(30deg);
}
#switchspring:hover img,
#to_comment:hover a i,
#backTop:hover a i {
  transform: rotateY(180deg);
}

header .nav-menu li a i {
    transition: All .4s ease-in-out;
    -webkit-transition: All .4s ease-in-out;
    -moz-transition: All .4s ease-in-out;
    -o-transition: All .4s ease-in-out
}

header .nav-menu li a:hover i {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg)
}

/* 隐藏 valine 版本号信息*/
.vpower.txt-right {
        display: none;
}

/*DaoVoice按钮样式*/
.daodream-launcher.daodream-launcher-enabled.daodream-launcher-active {
    position: fixed;
    right: 15px;
    bottom: 135px;
    padding-top: 15px;
    margin-bottom: 175px;
    z-index: 998;
}

/*定义首页主标题文字大小*/
.title.center-align {
     font-size: 40px;
}

/*定义文章标题文字大小*/
.description.center-align.post-title {
     font-size: 28px;
}

/* 底部红心样式 */
#heart {
    animation: heartAnimate 1.33s ease-in-out infinite
}

.with-love {
    display: inline-block
}

.with-love {
    margin: 0 5px
}

/* 底部红心动画 */
@-moz-keyframes heartAnimate {

    0%,
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    10%,
    30% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }

    20%,
    40%,
    50%,
    60%,
    70%,
    80% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@-webkit-keyframes heartAnimate {

    0%,
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    10%,
    30% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }

    20%,
    40%,
    50%,
    60%,
    70%,
    80% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@-o-keyframes heartAnimate {

    0%,
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    10%,
    30% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }

    20%,
    40%,
    50%,
    60%,
    70%,
    80% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

@keyframes heartAnimate {

    0%,
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }

    10%,
    30% {
        -webkit-transform: scale(.9);
        -moz-transform: scale(.9);
        -ms-transform: scale(.9);
        -o-transform: scale(.9);
        transform: scale(.9)
    }

    20%,
    40%,
    50%,
    60%,
    70%,
    80% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1)
    }
}

.my-face {
    animation: my-face 5s infinite ease-in-out;
    display: inline-block;
    margin: 0 5px
}

@-moz-keyframes my-face {

    2%,
    24%,
    80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(1.5deg);
        -o-transform: translate(0, 1.5px) rotate(1.5deg);
        transform: translate(0, 1.5px) rotate(1.5deg)
    }

    4%,
    68%,
    98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-.5deg);
        -o-transform: translate(0, -1.5px) rotate(-.5deg);
        transform: translate(0, -1.5px) rotate(-.5deg)
    }

    38%,
    6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-1.5deg);
        -o-transform: translate(0, 1.5px) rotate(-1.5deg);
        transform: translate(0, 1.5px) rotate(-1.5deg)
    }

    8%,
    86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-1.5deg);
        -o-transform: translate(0, -1.5px) rotate(-1.5deg);
        transform: translate(0, -1.5px) rotate(-1.5deg)
    }

    10%,
    72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(1.5deg);
        -o-transform: translate(0, 2.5px) rotate(1.5deg);
        transform: translate(0, 2.5px) rotate(1.5deg)
    }

    12%,
    64%,
    78%,
    96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
        -moz-transform: translate(0, -.5px) rotate(1.5deg);
        -ms-transform: translate(0, -.5px) rotate(1.5deg);
        -o-transform: translate(0, -.5px) rotate(1.5deg);
        transform: translate(0, -.5px) rotate(1.5deg)
    }

    14%,
    54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(1.5deg);
        -o-transform: translate(0, -1.5px) rotate(1.5deg);
        transform: translate(0, -1.5px) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -.5px) rotate(-1.5deg);
        -o-transform: translate(0, -.5px) rotate(-1.5deg);
        transform: translate(0, -.5px) rotate(-1.5deg)
    }

    18%,
    22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
        -moz-transform: translate(0, .5px) rotate(-1.5deg);
        -ms-transform: translate(0, .5px) rotate(-1.5deg);
        -o-transform: translate(0, .5px) rotate(-1.5deg);
        transform: translate(0, .5px) rotate(-1.5deg)
    }

    20%,
    36%,
    46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
        -moz-transform: translate(0, -1.5px) rotate(2.5deg);
        -ms-transform: translate(0, -1.5px) rotate(2.5deg);
        -o-transform: translate(0, -1.5px) rotate(2.5deg);
        transform: translate(0, -1.5px) rotate(2.5deg)
    }

    26%,
    50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
        -moz-transform: translate(0, .5px) rotate(.5deg);
        -ms-transform: translate(0, .5px) rotate(.5deg);
        -o-transform: translate(0, .5px) rotate(.5deg);
        transform: translate(0, .5px) rotate(.5deg)
    }

    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
        -moz-transform: translate(0, .5px) rotate(1.5deg);
        -ms-transform: translate(0, .5px) rotate(1.5deg);
        -o-transform: translate(0, .5px) rotate(1.5deg);
        transform: translate(0, .5px) rotate(1.5deg)
    }

    30%,
    40%,
    62%,
    76%,
    88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
        -moz-transform: translate(0, -.5px) rotate(2.5deg);
        -ms-transform: translate(0, -.5px) rotate(2.5deg);
        -o-transform: translate(0, -.5px) rotate(2.5deg);
        transform: translate(0, -.5px) rotate(2.5deg)
    }

    32%,
    34%,
    66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-.5deg);
        -o-transform: translate(0, 1.5px) rotate(-.5deg);
        transform: translate(0, 1.5px) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-1.5deg);
        -o-transform: translate(0, 2.5px) rotate(-1.5deg);
        transform: translate(0, 2.5px) rotate(-1.5deg)
    }

    44%,
    70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
        -moz-transform: translate(0, 1.5px) rotate(.5deg);
        -ms-transform: translate(0, 1.5px) rotate(.5deg);
        -o-transform: translate(0, 1.5px) rotate(.5deg);
        transform: translate(0, 1.5px) rotate(.5deg)
    }

    48%,
    74%,
    82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
        -moz-transform: translate(0, -.5px) rotate(.5deg);
        -ms-transform: translate(0, -.5px) rotate(.5deg);
        -o-transform: translate(0, -.5px) rotate(.5deg);
        transform: translate(0, -.5px) rotate(.5deg)
    }

    52%,
    56%,
    60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
        -moz-transform: translate(0, 2.5px) rotate(2.5deg);
        -ms-transform: translate(0, 2.5px) rotate(2.5deg);
        -o-transform: translate(0, 2.5px) rotate(2.5deg);
        transform: translate(0, 2.5px) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
        -moz-transform: translate(0, .5px) rotate(2.5deg);
        -ms-transform: translate(0, .5px) rotate(2.5deg);
        -o-transform: translate(0, .5px) rotate(2.5deg);
        transform: translate(0, .5px) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
        -moz-transform: translate(0, 1.5px) rotate(2.5deg);
        -ms-transform: translate(0, 1.5px) rotate(2.5deg);
        -o-transform: translate(0, 1.5px) rotate(2.5deg);
        transform: translate(0, 1.5px) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-.5deg);
        -o-transform: translate(0, 2.5px) rotate(-.5deg);
        transform: translate(0, 2.5px) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
        -moz-transform: translate(0, .5px) rotate(-.5deg);
        -ms-transform: translate(0, .5px) rotate(-.5deg);
        -o-transform: translate(0, .5px) rotate(-.5deg);
        transform: translate(0, .5px) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
        -moz-transform: translate(0, 2.5px) rotate(.5deg);
        -ms-transform: translate(0, 2.5px) rotate(.5deg);
        -o-transform: translate(0, 2.5px) rotate(.5deg);
        transform: translate(0, 2.5px) rotate(.5deg)
    }

    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -moz-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}

/* 底部跳动颜文字动画 */
@-webkit-keyframes my-face {

    2%,
    24%,
    80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(1.5deg);
        -o-transform: translate(0, 1.5px) rotate(1.5deg);
        transform: translate(0, 1.5px) rotate(1.5deg)
    }

    4%,
    68%,
    98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-.5deg);
        -o-transform: translate(0, -1.5px) rotate(-.5deg);
        transform: translate(0, -1.5px) rotate(-.5deg)
    }

    38%,
    6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-1.5deg);
        -o-transform: translate(0, 1.5px) rotate(-1.5deg);
        transform: translate(0, 1.5px) rotate(-1.5deg)
    }

    8%,
    86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-1.5deg);
        -o-transform: translate(0, -1.5px) rotate(-1.5deg);
        transform: translate(0, -1.5px) rotate(-1.5deg)
    }

    10%,
    72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(1.5deg);
        -o-transform: translate(0, 2.5px) rotate(1.5deg);
        transform: translate(0, 2.5px) rotate(1.5deg)
    }

    12%,
    64%,
    78%,
    96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
        -moz-transform: translate(0, -.5px) rotate(1.5deg);
        -ms-transform: translate(0, -.5px) rotate(1.5deg);
        -o-transform: translate(0, -.5px) rotate(1.5deg);
        transform: translate(0, -.5px) rotate(1.5deg)
    }

    14%,
    54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(1.5deg);
        -o-transform: translate(0, -1.5px) rotate(1.5deg);
        transform: translate(0, -1.5px) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -.5px) rotate(-1.5deg);
        -o-transform: translate(0, -.5px) rotate(-1.5deg);
        transform: translate(0, -.5px) rotate(-1.5deg)
    }

    18%,
    22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
        -moz-transform: translate(0, .5px) rotate(-1.5deg);
        -ms-transform: translate(0, .5px) rotate(-1.5deg);
        -o-transform: translate(0, .5px) rotate(-1.5deg);
        transform: translate(0, .5px) rotate(-1.5deg)
    }

    20%,
    36%,
    46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
        -moz-transform: translate(0, -1.5px) rotate(2.5deg);
        -ms-transform: translate(0, -1.5px) rotate(2.5deg);
        -o-transform: translate(0, -1.5px) rotate(2.5deg);
        transform: translate(0, -1.5px) rotate(2.5deg)
    }

    26%,
    50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
        -moz-transform: translate(0, .5px) rotate(.5deg);
        -ms-transform: translate(0, .5px) rotate(.5deg);
        -o-transform: translate(0, .5px) rotate(.5deg);
        transform: translate(0, .5px) rotate(.5deg)
    }

    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
        -moz-transform: translate(0, .5px) rotate(1.5deg);
        -ms-transform: translate(0, .5px) rotate(1.5deg);
        -o-transform: translate(0, .5px) rotate(1.5deg);
        transform: translate(0, .5px) rotate(1.5deg)
    }

    30%,
    40%,
    62%,
    76%,
    88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
        -moz-transform: translate(0, -.5px) rotate(2.5deg);
        -ms-transform: translate(0, -.5px) rotate(2.5deg);
        -o-transform: translate(0, -.5px) rotate(2.5deg);
        transform: translate(0, -.5px) rotate(2.5deg)
    }

    32%,
    34%,
    66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-.5deg);
        -o-transform: translate(0, 1.5px) rotate(-.5deg);
        transform: translate(0, 1.5px) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-1.5deg);
        -o-transform: translate(0, 2.5px) rotate(-1.5deg);
        transform: translate(0, 2.5px) rotate(-1.5deg)
    }

    44%,
    70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
        -moz-transform: translate(0, 1.5px) rotate(.5deg);
        -ms-transform: translate(0, 1.5px) rotate(.5deg);
        -o-transform: translate(0, 1.5px) rotate(.5deg);
        transform: translate(0, 1.5px) rotate(.5deg)
    }

    48%,
    74%,
    82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
        -moz-transform: translate(0, -.5px) rotate(.5deg);
        -ms-transform: translate(0, -.5px) rotate(.5deg);
        -o-transform: translate(0, -.5px) rotate(.5deg);
        transform: translate(0, -.5px) rotate(.5deg)
    }

    52%,
    56%,
    60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
        -moz-transform: translate(0, 2.5px) rotate(2.5deg);
        -ms-transform: translate(0, 2.5px) rotate(2.5deg);
        -o-transform: translate(0, 2.5px) rotate(2.5deg);
        transform: translate(0, 2.5px) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
        -moz-transform: translate(0, .5px) rotate(2.5deg);
        -ms-transform: translate(0, .5px) rotate(2.5deg);
        -o-transform: translate(0, .5px) rotate(2.5deg);
        transform: translate(0, .5px) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
        -moz-transform: translate(0, 1.5px) rotate(2.5deg);
        -ms-transform: translate(0, 1.5px) rotate(2.5deg);
        -o-transform: translate(0, 1.5px) rotate(2.5deg);
        transform: translate(0, 1.5px) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-.5deg);
        -o-transform: translate(0, 2.5px) rotate(-.5deg);
        transform: translate(0, 2.5px) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
        -moz-transform: translate(0, .5px) rotate(-.5deg);
        -ms-transform: translate(0, .5px) rotate(-.5deg);
        -o-transform: translate(0, .5px) rotate(-.5deg);
        transform: translate(0, .5px) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
        -moz-transform: translate(0, 2.5px) rotate(.5deg);
        -ms-transform: translate(0, 2.5px) rotate(.5deg);
        -o-transform: translate(0, 2.5px) rotate(.5deg);
        transform: translate(0, 2.5px) rotate(.5deg)
    }

    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -moz-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}

@-o-keyframes my-face {

    2%,
    24%,
    80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(1.5deg);
        -o-transform: translate(0, 1.5px) rotate(1.5deg);
        transform: translate(0, 1.5px) rotate(1.5deg)
    }

    4%,
    68%,
    98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-.5deg);
        -o-transform: translate(0, -1.5px) rotate(-.5deg);
        transform: translate(0, -1.5px) rotate(-.5deg)
    }

    38%,
    6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-1.5deg);
        -o-transform: translate(0, 1.5px) rotate(-1.5deg);
        transform: translate(0, 1.5px) rotate(-1.5deg)
    }

    8%,
    86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-1.5deg);
        -o-transform: translate(0, -1.5px) rotate(-1.5deg);
        transform: translate(0, -1.5px) rotate(-1.5deg)
    }

    10%,
    72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(1.5deg);
        -o-transform: translate(0, 2.5px) rotate(1.5deg);
        transform: translate(0, 2.5px) rotate(1.5deg)
    }

    12%,
    64%,
    78%,
    96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
        -moz-transform: translate(0, -.5px) rotate(1.5deg);
        -ms-transform: translate(0, -.5px) rotate(1.5deg);
        -o-transform: translate(0, -.5px) rotate(1.5deg);
        transform: translate(0, -.5px) rotate(1.5deg)
    }

    14%,
    54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(1.5deg);
        -o-transform: translate(0, -1.5px) rotate(1.5deg);
        transform: translate(0, -1.5px) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -.5px) rotate(-1.5deg);
        -o-transform: translate(0, -.5px) rotate(-1.5deg);
        transform: translate(0, -.5px) rotate(-1.5deg)
    }

    18%,
    22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
        -moz-transform: translate(0, .5px) rotate(-1.5deg);
        -ms-transform: translate(0, .5px) rotate(-1.5deg);
        -o-transform: translate(0, .5px) rotate(-1.5deg);
        transform: translate(0, .5px) rotate(-1.5deg)
    }

    20%,
    36%,
    46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
        -moz-transform: translate(0, -1.5px) rotate(2.5deg);
        -ms-transform: translate(0, -1.5px) rotate(2.5deg);
        -o-transform: translate(0, -1.5px) rotate(2.5deg);
        transform: translate(0, -1.5px) rotate(2.5deg)
    }

    26%,
    50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
        -moz-transform: translate(0, .5px) rotate(.5deg);
        -ms-transform: translate(0, .5px) rotate(.5deg);
        -o-transform: translate(0, .5px) rotate(.5deg);
        transform: translate(0, .5px) rotate(.5deg)
    }

    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
        -moz-transform: translate(0, .5px) rotate(1.5deg);
        -ms-transform: translate(0, .5px) rotate(1.5deg);
        -o-transform: translate(0, .5px) rotate(1.5deg);
        transform: translate(0, .5px) rotate(1.5deg)
    }

    30%,
    40%,
    62%,
    76%,
    88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
        -moz-transform: translate(0, -.5px) rotate(2.5deg);
        -ms-transform: translate(0, -.5px) rotate(2.5deg);
        -o-transform: translate(0, -.5px) rotate(2.5deg);
        transform: translate(0, -.5px) rotate(2.5deg)
    }

    32%,
    34%,
    66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-.5deg);
        -o-transform: translate(0, 1.5px) rotate(-.5deg);
        transform: translate(0, 1.5px) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-1.5deg);
        -o-transform: translate(0, 2.5px) rotate(-1.5deg);
        transform: translate(0, 2.5px) rotate(-1.5deg)
    }

    44%,
    70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
        -moz-transform: translate(0, 1.5px) rotate(.5deg);
        -ms-transform: translate(0, 1.5px) rotate(.5deg);
        -o-transform: translate(0, 1.5px) rotate(.5deg);
        transform: translate(0, 1.5px) rotate(.5deg)
    }

    48%,
    74%,
    82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
        -moz-transform: translate(0, -.5px) rotate(.5deg);
        -ms-transform: translate(0, -.5px) rotate(.5deg);
        -o-transform: translate(0, -.5px) rotate(.5deg);
        transform: translate(0, -.5px) rotate(.5deg)
    }

    52%,
    56%,
    60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
        -moz-transform: translate(0, 2.5px) rotate(2.5deg);
        -ms-transform: translate(0, 2.5px) rotate(2.5deg);
        -o-transform: translate(0, 2.5px) rotate(2.5deg);
        transform: translate(0, 2.5px) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
        -moz-transform: translate(0, .5px) rotate(2.5deg);
        -ms-transform: translate(0, .5px) rotate(2.5deg);
        -o-transform: translate(0, .5px) rotate(2.5deg);
        transform: translate(0, .5px) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
        -moz-transform: translate(0, 1.5px) rotate(2.5deg);
        -ms-transform: translate(0, 1.5px) rotate(2.5deg);
        -o-transform: translate(0, 1.5px) rotate(2.5deg);
        transform: translate(0, 1.5px) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-.5deg);
        -o-transform: translate(0, 2.5px) rotate(-.5deg);
        transform: translate(0, 2.5px) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
        -moz-transform: translate(0, .5px) rotate(-.5deg);
        -ms-transform: translate(0, .5px) rotate(-.5deg);
        -o-transform: translate(0, .5px) rotate(-.5deg);
        transform: translate(0, .5px) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
        -moz-transform: translate(0, 2.5px) rotate(.5deg);
        -ms-transform: translate(0, 2.5px) rotate(.5deg);
        -o-transform: translate(0, 2.5px) rotate(.5deg);
        transform: translate(0, 2.5px) rotate(.5deg)
    }

    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -moz-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}

@keyframes my-face {

    2%,
    24%,
    80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(1.5deg);
        -o-transform: translate(0, 1.5px) rotate(1.5deg);
        transform: translate(0, 1.5px) rotate(1.5deg)
    }

    4%,
    68%,
    98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-.5deg);
        -o-transform: translate(0, -1.5px) rotate(-.5deg);
        transform: translate(0, -1.5px) rotate(-.5deg)
    }

    38%,
    6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-1.5deg);
        -o-transform: translate(0, 1.5px) rotate(-1.5deg);
        transform: translate(0, 1.5px) rotate(-1.5deg)
    }

    8%,
    86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(-1.5deg);
        -o-transform: translate(0, -1.5px) rotate(-1.5deg);
        transform: translate(0, -1.5px) rotate(-1.5deg)
    }

    10%,
    72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(1.5deg);
        -o-transform: translate(0, 2.5px) rotate(1.5deg);
        transform: translate(0, 2.5px) rotate(1.5deg)
    }

    12%,
    64%,
    78%,
    96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
        -moz-transform: translate(0, -.5px) rotate(1.5deg);
        -ms-transform: translate(0, -.5px) rotate(1.5deg);
        -o-transform: translate(0, -.5px) rotate(1.5deg);
        transform: translate(0, -.5px) rotate(1.5deg)
    }

    14%,
    54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
        -moz-transform: translate(0, -1.5px) rotate(1.5deg);
        -ms-transform: translate(0, -1.5px) rotate(1.5deg);
        -o-transform: translate(0, -1.5px) rotate(1.5deg);
        transform: translate(0, -1.5px) rotate(1.5deg)
    }

    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
        -moz-transform: translate(0, -.5px) rotate(-1.5deg);
        -ms-transform: translate(0, -.5px) rotate(-1.5deg);
        -o-transform: translate(0, -.5px) rotate(-1.5deg);
        transform: translate(0, -.5px) rotate(-1.5deg)
    }

    18%,
    22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
        -moz-transform: translate(0, .5px) rotate(-1.5deg);
        -ms-transform: translate(0, .5px) rotate(-1.5deg);
        -o-transform: translate(0, .5px) rotate(-1.5deg);
        transform: translate(0, .5px) rotate(-1.5deg)
    }

    20%,
    36%,
    46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
        -moz-transform: translate(0, -1.5px) rotate(2.5deg);
        -ms-transform: translate(0, -1.5px) rotate(2.5deg);
        -o-transform: translate(0, -1.5px) rotate(2.5deg);
        transform: translate(0, -1.5px) rotate(2.5deg)
    }

    26%,
    50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
        -moz-transform: translate(0, .5px) rotate(.5deg);
        -ms-transform: translate(0, .5px) rotate(.5deg);
        -o-transform: translate(0, .5px) rotate(.5deg);
        transform: translate(0, .5px) rotate(.5deg)
    }

    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
        -moz-transform: translate(0, .5px) rotate(1.5deg);
        -ms-transform: translate(0, .5px) rotate(1.5deg);
        -o-transform: translate(0, .5px) rotate(1.5deg);
        transform: translate(0, .5px) rotate(1.5deg)
    }

    30%,
    40%,
    62%,
    76%,
    88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
        -moz-transform: translate(0, -.5px) rotate(2.5deg);
        -ms-transform: translate(0, -.5px) rotate(2.5deg);
        -o-transform: translate(0, -.5px) rotate(2.5deg);
        transform: translate(0, -.5px) rotate(2.5deg)
    }

    32%,
    34%,
    66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
        -moz-transform: translate(0, 1.5px) rotate(-.5deg);
        -ms-transform: translate(0, 1.5px) rotate(-.5deg);
        -o-transform: translate(0, 1.5px) rotate(-.5deg);
        transform: translate(0, 1.5px) rotate(-.5deg)
    }

    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-1.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-1.5deg);
        -o-transform: translate(0, 2.5px) rotate(-1.5deg);
        transform: translate(0, 2.5px) rotate(-1.5deg)
    }

    44%,
    70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
        -moz-transform: translate(0, 1.5px) rotate(.5deg);
        -ms-transform: translate(0, 1.5px) rotate(.5deg);
        -o-transform: translate(0, 1.5px) rotate(.5deg);
        transform: translate(0, 1.5px) rotate(.5deg)
    }

    48%,
    74%,
    82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
        -moz-transform: translate(0, -.5px) rotate(.5deg);
        -ms-transform: translate(0, -.5px) rotate(.5deg);
        -o-transform: translate(0, -.5px) rotate(.5deg);
        transform: translate(0, -.5px) rotate(.5deg)
    }

    52%,
    56%,
    60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
        -moz-transform: translate(0, 2.5px) rotate(2.5deg);
        -ms-transform: translate(0, 2.5px) rotate(2.5deg);
        -o-transform: translate(0, 2.5px) rotate(2.5deg);
        transform: translate(0, 2.5px) rotate(2.5deg)
    }

    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
        -moz-transform: translate(0, .5px) rotate(2.5deg);
        -ms-transform: translate(0, .5px) rotate(2.5deg);
        -o-transform: translate(0, .5px) rotate(2.5deg);
        transform: translate(0, .5px) rotate(2.5deg)
    }

    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
        -moz-transform: translate(0, 1.5px) rotate(2.5deg);
        -ms-transform: translate(0, 1.5px) rotate(2.5deg);
        -o-transform: translate(0, 1.5px) rotate(2.5deg);
        transform: translate(0, 1.5px) rotate(2.5deg)
    }

    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
        -moz-transform: translate(0, 2.5px) rotate(-.5deg);
        -ms-transform: translate(0, 2.5px) rotate(-.5deg);
        -o-transform: translate(0, 2.5px) rotate(-.5deg);
        transform: translate(0, 2.5px) rotate(-.5deg)
    }

    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
        -moz-transform: translate(0, .5px) rotate(-.5deg);
        -ms-transform: translate(0, .5px) rotate(-.5deg);
        -o-transform: translate(0, .5px) rotate(-.5deg);
        transform: translate(0, .5px) rotate(-.5deg)
    }

    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
        -moz-transform: translate(0, 2.5px) rotate(.5deg);
        -ms-transform: translate(0, 2.5px) rotate(.5deg);
        -o-transform: translate(0, 2.5px) rotate(.5deg);
        transform: translate(0, 2.5px) rotate(.5deg)
    }

    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
        -moz-transform: translate(0, 0) rotate(0);
        -ms-transform: translate(0, 0) rotate(0);
        -o-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}

/* 标签浮动特效 */
a[href^="/categories/"] span.chip:hover,a[href^="/categories/"].post-category:hover,a[href^="/tags/"] span.chip:hover {
    transition: all .6s;
    transform: scale(1.3)
}

.sc-csuQGl.sw-container.sc-eqIVtm.fsIvwB {
    position: relative;
    left: 180px;
    top: 2px;
}

.sc-dVhcbM.idzueu.sc-bdVaJa.hlBhLX {
    position: relative;
    width: 20px;
    height: 20px;
    display: inline-block;
}


.sw-typography.sw-bar-slim-temperature.sc-bwzfXH.dsrBSL {
    position: relative;
    color:#fff;
    font-size: 13px;
}

.sw-typography.sw-bar-slim-location.sc-bwzfXH.dsrBSL {
    position: relative;
    color:#fff;
    font-size: 13px;
}